* {
  box-sizing: border-box;
}


body{
margin: 0;
min-height: 10rem;
}

#rectangle{
background-color: #E4D4BD;
color: hsl(36, 40%, 24%);
width: 100%;
height: 40px;
overflow: hidden;
aspect-ratio: 2;
white-space: nowrap;
display: block;
}

#rectangle span{
 margin-right: 9rem;
}

.pages{
display: flex;
align-items: center;
}

.navbtn{
display: flex;
align-items: center;
gap: 1.4rem;
}

nav{
background-color: #F7E7CF;
display: flex;
justify-content: space-evenly;
position: relative;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

nav ul li{
display: inline;
margin-right: 30px;
margin-left: 30px;
}

nav ul li a{
color: #3D3100;
font-size: 1.5rem;
padding: .5rem;
text-decoration: none;
margin-bottom: 20%;
transition: all 0.3s ease;
}

nav ul li a:hover{
background-color: #D5B690;
border-radius: 30px;
}

.search-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

button:hover{
background-color: #D5B690;
border-radius: 30px;
transform: scale(1.05); 
transition: all 0.3s ease;
}

.profile-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}


.bag-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

.menu-label{
display: none;
}


@media (max-width: 1400px){
.navmenu {
position: absolute;
top: 9rem;
left: -100%;
flex-direction: column;
gap: .5rem;
background: #f5d6a7;
width: 100%;
height: 150%;
text-align: center;
transition: 0.3s;
}

.navbtn{
gap: 0;
margin-right: 3rem;
}

.menu{
left: 50%;
}

#menu-toggle:checked ~ .pages .navmenu{
left: 0;
}

.menu-label{
font-size: 24px;
padding: 1rem;
margin-top: 3.8rem;
height: 1rem;
display: flex;
align-items: center;
}

.menu-label:hover{
background-color: #D5B690;
border-radius: 90px;
padding: 1rem;
}

}


.contact-container {
display: flex; 
justify-content: center;
padding: 30px; 
gap: 2rem;
flex-wrap: wrap;
margin-bottom: 2rem;
} 

@media (max-width: 600px){
.contact-container{
flex-direction: column;
gap: 4rem;
}
}
 
.contact-info h1 { 
font-family: 'Gloock', serif; 
font-size: 3rem; 
} 
 
.contact-info p { 
text-align: justify; 
} 
 
.contact-info .details { 
margin-top: 20px; 
} 
 
.contact-info .details p { 
margin: 10px 0; 
} 
 
.contact-info img.icon { 
width: 18px; 
vertical-align: middle; 
margin-right: 8px; 
} 
 
.follow-us { 
text-align: center; 
margin-top: 2rem; 
} 
 
.social-icons { 
display: flex; 
justify-content: center; 
gap: 15px; 
margin-top: 10px; 
} 
 
.social-icons img { 
width: 24px; 
} 
 
.contact-form { 
flex: 1; 
max-width: 500px;
display: flex;
justify-content: center;
} 

@media (max-width: 430px){

.contact-form{
margin-right: 1rem;
}

}
 
.contact-form label { 
display: block; 
margin-bottom: 5px; 
} 
 
.name-fields {
display: flex; 
gap: 30px;  
} 
 
.name-fields div { 
flex: 1; 
} 
 
.contact-form input, 
.contact-form textarea { 
width: 100%; 
padding: 10px; 
margin-bottom: 15px; 
border: 1px solid #3D3100; 
border-radius: 5px; 
background-color: transparent;
transition: all 0.3s ease; 
} 

.contact-form input:focus, 
.contact-form textarea:focus { 
border: 2px solid #c79d69; 
outline: none; 
background-color: #fffaf3; 
box-shadow: 0 0 5px rgba(61, 49, 0, 0.4); 
} 
 
.contact-form button { 
background-color: #3D3100; 
color: #fff; 
padding: 10px 20px; 
border: none; 
cursor: pointer;
} 
  
input[type="email"]:invalid:not(:placeholder-shown) { 
border: 1px solid red; 
} 
  
input[type="email"]:valid:focus { 
border: 1.7px solid green; 
} 
 
.error-message { 
display: none; 
color: red; 
font-size: 0.9rem; 
margin-top: -10px; 
margin-bottom: 10px; 
} 
  
input[type="email"]:invalid:not(:placeholder-shown) + .error-message { 
display: block; 
}

.submitbtn{
display: flex;
justify-content: center;
}

.submit{
border-radius: 30px;
}

.submit:hover{
background: #292101;
border: 1px solid #000000;
}

footer{
margin-top: 10rem;
background-color: #c79d69;
padding: 10px;
padding-top: 30px;
overflow: hidden;
}


.container{
width: 100%;
display: flex;
justify-content: center;
gap: 10rem;
flex-wrap: wrap;
}
     
h3{
margin-bottom: 10px;
text-align: center;
color: #292101;
margin-left: 45px;
}

.ftrlnk-container{
display: flex;
gap: 4rem;
}

.footer-content{
padding-top: 1.5rem;
}

.footer-content ul{
text-align: center;
}


.footer-content ul li{
width: auto;
text-align: center;
list-style-type: none;
padding: 7px;
position: relative;
}


.footer-content ul li a{
text-decoration: none;
color: hsl(36, 93%, 18%);
}

.footer-content ul li a:hover{
text-decoration: underline;
}

.bottom-bar{
text-align: center;
}


.logo2{
position: relative;
width: 300px;
height: 250px;
}

@media (max-width: 450px){

  .logo2{
  margin-left: 2rem;
  width: 250px;
  height: 200px;
  }

  .container{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-right: 2rem;
  }

.ftrlnk-container{
    font-size: 1.4rem;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }

}