* {
  box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 200vh;
}

#rectangle{
background-color: #E4D4BD;
color: hsl(36, 40%, 24%);
width: 100%;
height: 40px;
overflow: hidden;
aspect-ratio: 2;
white-space: nowrap;
display: block;
}

#rectangle span{
 margin-right: 9rem;
}

.pages{
display: flex;
align-items: center;
}

.navbtn{
display: flex;
align-items: center;
gap: 1.4rem;
}

nav{
background-color: #F7E7CF;
display: flex;
justify-content: space-evenly;
position: relative;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

nav ul li{
display: inline;
margin-right: 30px;
margin-left: 30px;
}

nav ul li a{
color: #3D3100;
font-size: 1.5rem;
padding: .5rem;
text-decoration: none;
margin-bottom: 20%;
transition: all 0.3s ease;
}

nav ul li a:hover{
background-color: #D5B690;
border-radius: 30px;
}

.search-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

button:hover{
background-color: #D5B690;
border-radius: 30px;
transform: scale(1.05); 
transition: all 0.3s ease;
}

.profile-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}


.bag-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

.menu-label{
display: none;
}


@media (max-width: 1400px){
.navmenu {
position: absolute;
top: 9rem;
left: -100%;
flex-direction: column;
gap: .5rem;
background: #f5d6a7;
width: 100%;
height: 150%;
text-align: center;
transition: 0.3s;
}

.navbtn{
gap: 0;
margin-right: 3rem;
}

.menu{
left: 50%;
}

#menu-toggle:checked ~ .pages .navmenu{
left: 0;
}

.menu-label{
font-size: 24px;
padding: 1rem;
margin-top: 3.8rem;
height: 1rem;
display: flex;
align-items: center;
}

.menu-label:hover{
background-color: #D5B690;
border-radius: 90px;
padding: 1rem;
}

}

.FAQsContainer {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    color: #574325;
}

h1 {
    text-align: center;
    font-size: 40px;
}

@media (max-width:430px){
h2{
white-space: wrap;
}

.FAQsContainer{
margin-left: 2rem;
margin-right: 2rem;
}

}

hr {
    border: none;
    height: 1.5px;
    background-color: #574325;
    margin: 20px 0;
    border-radius: 5px;
}

.footerhr {
    height: 1px;
    background-color: #554630;
}

footer{
margin-top: 10rem;
background-color: #c79d69;
padding: 10px;
padding-top: 30px;
overflow: hidden;
}


.container{
width: 100%;
display: flex;
justify-content: center;
gap: 10rem;
flex-wrap: wrap;
}
     
h3{
margin-bottom: 10px;
text-align: center;
color: #292101;
margin-left: 45px;
}

.ftrlnk-container{
display: flex;
gap: 4rem;
}

.footer-content{
padding-top: 1.5rem;
}

.footer-content ul{
text-align: center;
}


.footer-content ul li{
width: auto;
text-align: center;
list-style-type: none;
padding: 7px;
position: relative;
}


.footer-content ul li a{
text-decoration: none;
color: hsl(36, 93%, 18%);
}

.footer-content ul li a:hover{
text-decoration: underline;
}

.bottom-bar{
text-align: center;
}


.logo2{
position: relative;
width: 300px;
height: 250px;
}

@media (max-width: 450px){

  .logo2{
  margin-left: 2rem;
  width: 250px;
  height: 200px;
  }

  .container{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-right: 2rem;
  }

.ftrlnk-container{
    font-size: 1.4rem;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }

}