* {
  box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}


#rectangle{
background-color: #E4D4BD;
color: hsl(36, 40%, 24%);
width: 100%;
height: 40px;
overflow: hidden;
aspect-ratio: 2;
white-space: nowrap;
display: block;
}

#rectangle span{
 margin-right: 9rem;
}

.pages{
display: flex;
align-items: center;
z-index: 10;
}

.navbtn{
display: flex;
align-items: center;
gap: 1.4rem;
}

nav{
background-color: #F7E7CF;
display: flex;
justify-content: space-evenly;
position: relative;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

nav ul li{
display: inline;
margin-right: 30px;
margin-left: 30px;
}

nav ul li a{
color: #3D3100;
font-size: 1.5rem;
padding: .5rem;
text-decoration: none;
margin-bottom: 20%;
transition: all 0.3s ease;
}

nav ul li a:hover{
background-color: #D5B690;
border-radius: 30px;
}

.search-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

button:hover{
background-color: #D5B690;
border-radius: 30px;
transform: scale(1.05); 
transition: all 0.3s ease;
}

.profile-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}


.bag-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

.menu-label{
display: none;
}

.searchbar{
width: 100%;
position: absolute;
display: none;
align-items: center;
justify-content: center;
top: 105%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9;
}

.searchbar input{
padding: .5rem 1rem;
border-radius: 15px;
border: 2px ridge #3D3100;
font-size: 17px;
width: 40%;
height: 2rem;
}



@media (max-width: 1400px){
.navmenu {
position: absolute;
top: 9rem;
left: -100%;
flex-direction: column;
gap: .5rem;
background: #f5d6a7;
width: 100%;
height: 150%;
text-align: center;
transition: 0.3s;
}

.navbtn{
gap: 0;
}

.menu{
left: 50%;
}

#menu-toggle:checked ~ .pages .navmenu{
z-index: 3;
left: 0;
}

.menu-label{
font-size: 18px;
padding: 1rem;
margin-top: 3.8rem;
height: 1rem;
display: flex;
align-items: center;
}

.menu-label:hover{
background-color: #D5B690;
border-radius: 90px;
padding: 1rem;
}

.searchbar input{
    width: 60%;
}

}

.containerz h1{
margin-top: 0;
margin-bottom: 0;
width: 30rem;
    height: 5.4rem;
    font-size: 70px;
    color: white;
    text-shadow: 2px 1.5px 0px #3d2500;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 10px 10px;
    backdrop-filter: blur(3px);
}

@media (max-width:430px){
.containerz{
height: 17rem;
}

.containerz h1{
font-size: 40px;
}

}

.containerz{
    font-size: 30px;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    overflow: hidden;
  --s: 100px; 
  --c1: #f9d98e;
  --c2: #b8752c;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

.containerz::before {
    content: '';
    position: absolute;
    inset: 0; 
    background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
      ),
      radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
        )
        var(--c1);
    background-size: var(--s) var(--s);
    filter: blur(3px); 
    z-index: 0;
}

.containerz::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom, 
        #F7E7CF 0%,    
        rgba(247, 231, 207, 0) 10%,  
        rgba(247, 231, 207, 0) 90%,  
        #F7E7CF 100%);   
    pointer-events: none;
    z-index: 1;
}




.favorites-container {
    text-align: center;
    padding: 30px;
}

.favorites-container h1 {
    font-size: 36px;
    color: #3D3100;
}

.filter-bar {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

select {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #3D3100;
    background: #F7E7CF;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width:430px){
.favorites-container{
width: 100%;
padding-left: 1;
}

.filter-bar select{
width: 6rem;
font-size: 10px;
}
}

.display {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 25px;
      margin-left: 10%;
      margin-right: 10%;
    }


.product-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
      background: white;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      position: relative;
      background: #F7E7CF;
    border: 3.5px outset #b69d7f;
    border-radius: 30px;
    transition: box-shadow .3s ease-in, transform 0.5s ease;
}

.product-card:hover{
box-shadow: inset 0 0 20px 5px #ffdba4,
            8px 6px 1px 1px #3D3100;
 transform: translateY(-5px);
}

.product-card img{
width: 150px;
height: 170px;
transition: all 0.5s ease;
}

.product-card:hover img{
transform: translateY(-35px) scale(1.4);
filter: drop-shadow(5px 10px 10px rgba(0,0,0,0.4));
}

.product-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #3D3100;
}

.price {
    position: absolute;
    background: #E4D4BD;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #3D3100;
}

.add-btn {
    height: 2rem;
    width: 6rem;
    background: #D5B690;
    padding: 5px 15px;
    border: 2px outset #f3e0c9;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.add-btn:hover {
    border: 2px inset #f1e8dd;
    background: #c79d69;
}

.price{
font-size: 14px;
}

.remove-btn{
color: red;
height: 2rem;
width: 3rem;
background: #D5B690;
padding: 5px 15px;
border: 2px outset #f3e0c9;
border-radius: 20px;
cursor: pointer;
font-weight: bold;
margin-top: 10px;
}

.remove-btn:hover {
    border: 2px inset #f1e8dd;
    background: #c79d69;
}


@media (max-width:430px){

.display{
grid-template-columns: repeat(2,minmax(110px,1fr));
gap: 10px;
margin-left: 5%;
margin-right: 5%;
}

.product-card{
height: 15rem;
}

.product-card img{
width: 90px;
height: 100px;
}

.product-card h3{
font-size: 11px;
white-space: wrap;
}

.price{
width: 40px;
height: 40px;
font-size: 11px;
line-height: 4;
}

.add-btn{
height: 3rem;
width: 3rem;
justify-self: end;
font-size: 12px;
padding: 5px 10px;
}

.remove-btn{
height: 3rem;
width: 3rem;
margin-right: .2rem;
}
}











footer{
width: 100%;
margin-top: 20vh;
background-color: #c79d69;
padding: 10px;
padding-top: 30px;
overflow: hidden;
}


.container{
width: 100%;
display: flex;
justify-content: center;
gap: 10rem;
flex-wrap: wrap;
}
     
h3{
margin-bottom: 10px;
text-align: center;
color: #292101;
margin-left: 45px;
}

.ftrlnk-container{
display: flex;
gap: 4rem;
}

.footer-content{
padding-top: 1.5rem;
}

.footer-content ul{
text-align: center;
}


.footer-content ul li{
width: auto;
text-align: center;
list-style-type: none;
padding: 7px;
position: relative;
}


.footer-content ul li a{
text-decoration: none;
color: hsl(36, 93%, 18%);
}

.footer-content ul li a:hover{
text-decoration: underline;
}

.bottom-bar{
text-align: center;
}


.logo2{
width: 300px;
height: 250px;
position: relative;
}

@media (max-width: 430px){

  .logo2{
  margin-left: 2rem;
  width: 250px;
  height: 200px;
  }

  .container{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-right: 2rem;
  }

.ftrlnk-container{
    font-size: 1.4rem;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }

}