* {
  box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 150vh;
}

#rectangle{
background-color: #E4D4BD;
color: hsl(36, 40%, 24%);
width: 100%;
height: 40px;
overflow: hidden;
aspect-ratio: 2;
white-space: nowrap;
display: block;
}

#rectangle span{
 margin-right: 9rem;
}


.pages{
display: flex;
align-items: center;
z-index: 1;
}

.navbtn{
display: flex;
align-items: center;
gap: 1.4rem;
}

nav{
background-color: #F7E7CF;
display: flex;
justify-content: space-evenly;
position: relative;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

nav ul li{
display: inline;
margin-right: 30px;
margin-left: 30px;
}

nav ul li a{
color: #3D3100;
font-size: 1.5rem;
padding: .5rem;
text-decoration: none;
margin-bottom: 20%;
transition: all 0.3s ease;
}

nav ul li a:hover{
background-color: #D5B690;
border-radius: 30px;
}

.search-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

button:hover{
background-color: #D5B690;
border-radius: 30px;
transform: scale(1.05); 
transition: all 0.3s ease;
}

.profile-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}


.bag-button{
padding: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border: none;
background-color: #F7E7CF;
border-radius: 20px;
}

.menu-label{
display: none;
}


@media (max-width: 1400px){
.navmenu {
position: absolute;
top: 9rem;
left: -100%;
flex-direction: column;
gap: .5rem;
background: #f5d6a7;
width: 100%;
height: 150%;
text-align: center;
transition: 0.3s;
}

.navbtn{
gap: 0;
margin-right: 3rem;
}

.menu{
left: 50%;
}

#menu-toggle:checked ~ .pages .navmenu{
left: 0;
}

.menu-label{
font-size: 24px;
padding: 1rem;
margin-top: 3.8rem;
height: 1rem;
display: flex;
align-items: center;
}

.menu-label:hover{
background-color: #D5B690;
border-radius: 90px;
padding: 1rem;
}

}

.mid-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.mid-section img {
    z-index: 0;
    width:300 px;
    height:300 px;
    margin-right: 40px;
    filter: drop-shadow(5px 5px 6px #705a02);
}


.mid-section,
h1 {
    font-size: 28px;
    color: #3D3100;
    margin-bottom: 10px;
}

.mid-section button {
    padding: 10px 80px;
    border-radius: 30px;
    background-color: #D5B690;
    border: 10;
    cursor: pointer;
    font-size: 20px;
    font-family: serif;
}

.mid-section button:hover {
    background-color: #c49f75;
}

.mid-section,
tagline {
    margin-top: 15px;
    font-size: 18px;
    color: #3D3100;
}

.motto{
font-size: 40px;
}

.mid-section div {
    text-align: center;
}

@media (max-width: 600px){
.mid-section img{
flex-direction: column;
max-width: 300px;
max-height: 300px;
}
}

.vidcont{
margin-top: 4.9rem;
overflow: hidden;
width: 100%;
height: 45rem;
position: relative;
}

.vidcont video{
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
transform: translate(-50%, -50%);
object-fit: cover;
z-index: 10;
}

.misvis{
padding: 1rem;
margin-top: 8rem;
display: flex;
justify-content: space-evenly;
align-items: center;
position: relative;
z-index: 11;
}

.misvis img{
filter: drop-shadow(0 0 15px rgba(255, 170, 0, 0.547));
position: relative;
z-index: 11;
}

.mission, .vision{
color: white;
border: 5px dashed rgb(120, 64, 8);
font-weight: bold;
padding: 2rem;
border-radius: 20px;
text-align: center;
font-size: 20px;
line-height: 3rem;
height: 25rem;
background-color: rgba(177, 115, 45, 0.7);
position: relative;
z-index: 11;
}


@media (max-width: 600px){

  .vidcont {
    height: auto; 
  }

  .misvis {
    flex-direction: column; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1.5rem; 
  }

  .misvis img { 
    max-width: 300px;
  }

  .mission, .vision {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 19px; 
    line-height: 2rem;
    height: 25rem; 
    padding: 1rem; 
    width: 90%; 
  }
}







.pattern {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85rem;
  --s: 200px; 
  --c1: #765827;
  --c2: #EAC696;
  --c3: #C8AE7D;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.pattern h1{
background-color: #735116;
border: 5px double #f3bc81;
padding: 1rem;
border-left: none;
border-right: none;
margin-top: 5rem;
color: white;
font-size: 50px;
text-align: center;
}

.card {
  width: 50%;
  height: 40rem;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: .4em;
align-self: center;
}

.card p {
  margin-bottom: 2rem;
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #F8C794;
  border: 5px double #3F2305;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
}


.card p span {
  position: absolute;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #3F2305;
  letter-spacing: .1em;
  font-weight: bold;
}

.card p img {


  opacity: 0;
  transition: all .5s ease;
}

.I-one{width: 180px;}
.I-two{width: 230px; height: 180px;}
.I-thr{width: 170px; height: 140px;}
.I-fur{width: 210px; height: 240px;}
.I-fiv{width: 120px; height: 150px;}



.card p:hover {
  flex: 4;
}

.card p:hover span {
  opacity: 1;
  background-color: #eeb36c;
  padding: 1rem;
  font-weight: bolder;
  border-radius: 15px;
  transform: rotate(0deg) scale(0.9);
  margin-top: 15em;
  transition: all 0.5s ease;
}

.card p:hover img {
  opacity: 1;
  transform: scale(1.5);

  margin-bottom: 6em;
}

.card p:hover button{
  opacity: 1;
  margin-top: 28em;
}

.adtcrt{
color: #3F2305;
position: absolute;
opacity: 0;
height: 2rem;
    width: 6rem;
    background: #eeb36c;
    padding: 5px 15px;
    border: 2px outset #e5bf90;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: all .5s ease;
}

.adtcrt:hover{
border: 2px inset rgb(162, 124, 77);
    background: #e19334;
}

@media (max-width: 600px){

   .pattern{
    height: 85rem;
   }

   .pattern h1{
   font-size: 40px;
   }

   .card{
    margin-top: 5rem; 
    width: 85%;
   }

   .card p {
    height: 25rem;
   }

   .I-one{width: 95px;}
   .I-two{width: 130px; height: 90px;}
   .I-thr{width: 90px; height: 85px;}
   .I-fur{width: 100px; height: 130px;}
   .I-fiv{width: 83px; height: 75px;}

  .card p:hover img {
    margin-bottom: 10rem;
  }

  .card p:hover span {
    margin-top: 4em;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: underline;
    white-space: wrap;
    text-align: center;
  }

  .card p:hover button{
   margin-top: 15em;
   }

}









.carousel{
margin: 100px auto 10px;
width: 100%;
display: flex;
overflow: auto;
}

.carousel::-webkit-scrollbar{
display: none;
}

.group{
display: flex;
align-items: center;
justify-content: center;
gap: 2em;
animation: spin 15s infinite linear;
padding-right: 2em;
}

.cardcar{
border: 3.5px double #996c34;
overflow: hidden;
flex: 0 0  10em;
height: 10em;
padding: 1em;
background-color: #dba856;
border-radius: 20px;
display: flex;              
align-items: center;        
justify-content: center;
}

@keyframes spin{
from {translate: 0;}
to {translate: -100%;}
}

.Im-one{width: 130px;}
.Im-two{width: 100px;}
.Im-thr{width: 110px;}
.Im-fur{width: 105px;}
.Im-fiv{width: 150px;}
.Im-six{width: 120px;}
.Im-sev{width: 100px;}
.Im-eit{width: 150px;}
.Im-nin{width: 110px;}




.carousel2{
margin: 30px auto 10px;
width: 100%;
display: flex;
overflow: auto;
}

.carousel2::-webkit-scrollbar{
display: none;
}

.group2{
display: flex;
align-items: center;
justify-content: center;
gap: 2em;
animation: spin 15s infinite linear reverse;
padding-right: 2em;
}

.cardcar2{
border: 3.5px double #996c34;
overflow: hidden;
flex: 0 0  10em;
height: 10em;
padding: 1em;
background-color: #dca03f;
border-radius: 20px;
display: flex;              
align-items: center;        
justify-content: center;
}

@keyframes spin2{
from {translate: -100%;}
to {translate: 0;}
}

@media (max-width: 600px){
    .carousel{
      margin: 0px auto 10px;
    }
}





footer{
background-color: #c79d69;
padding: 10px;
padding-top: 30px;
overflow: hidden;
}


.container{
width: 100%;
display: flex;
justify-content: center;
gap: 10rem;
flex-wrap: wrap;
}
     
h3{
margin-bottom: 10px;
text-align: center;
color: #292101;
margin-left: 45px;
}

.ftrlnk-container{
display: flex;
gap: 4rem;
}

.footer-content{
padding-top: 1.5rem;
}

.footer-content ul{
text-align: center;
}


.footer-content ul li{
width: auto;
text-align: center;
list-style-type: none;
padding: 7px;
position: relative;
}


.footer-content ul li a{
text-decoration: none;
color: hsl(36, 93%, 18%);
}

.footer-content ul li a:hover{
text-decoration: underline;
}

.bottom-bar{
text-align: center;
}


.logo2{
position: relative;
width: 300px;
height: 250px;
}

@media (max-width: 450px){

  .logo2{
  margin-left: 2rem;
  width: 250px;
  height: 200px;
  }

  .container{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-right: 2rem;
  }

.ftrlnk-container{
    font-size: 1.4rem;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }

  .mid-section {
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
  }

  .mid-section img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 80%;
    max-width: 300px;
  }

  .mid-section h1 {
    font-size: 24px;
  }

  .mid-section button {
    padding: 10px 40px;
    font-size: 16px;
  }

  .mid-section .tagline {
    font-size: 16px;
  }

}
